/* ASIDE */

aside {
    background-color: var(--secondary-color-dark);
    background-image: url(../img/sidebar-bg.png);
    flex-shrink: 0;
    width: auto;
    padding: 20px;
    padding-right: 1.875rem;
}
    
aside ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
}

aside a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

aside li {
    padding-top: .625rem;
}

aside li:last-child {
    margin-top: auto;
}

aside i {
    width: 25px;
    text-align: center;
}