/* ASIDE */

aside {
    background-color: var(--secondary-color-dark);
    background-image: url(../img/sidebar-bg.png);
    flex-shrink: 0;
    width: auto;
    padding: 20px;
}
    
aside nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    list-style: none;
}


aside a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

aside .admin {
    margin-top: auto;
}

aside i {
    width: 25px;
    text-align: center;
}