/* MAIN */

main {
    background-color: var(--primary-color-dark);
    flex-grow: 1;
    overflow-y: auto;
}

.ms-container {
    background-color: var(--secondary-color);
    padding-top: 20px;
    color: white;
}

.ms-w-60 {
    width: 60%;
}

.ms-w-10 {
    width: 10%;
}