/* MAIN */

main {
    background-color: var(--primary-color-dark);
    flex-grow: 1;
    overflow-y: auto;
}

.ms-container {
    background-color: var(--secondary-color);
    padding-top: 20px;
    color: white;
}

.ms-w-60 {
    width: auto;
}

.ms-w-100 {
    width: 6.25rem;
}

.ms-w-150 {
    width: 9.375rem;
}