@import url(header.css);

/* TIPOGRAPHY */
* {
    font-family: 'Roboto', sans-serif;
}

/* COLORS */

:root {
    --primary-color: #f8f9fa;
    --primary-color-dark: #f7f7f7;
    --secondary-color: #1c71e8;
    --secondary-color-dark: #061e34;
}

.ms-wrap-conteiner {
    width: 100vw;
}